# .env.example
JWT_SECRET=portfolio-secret-key
MONGODB_URI=mongodb://localhost:27017/portfolio
EMAIL_USER=s712471247124@gmail.com
EMAIL_PASS=gkci vbjj kxen nwvl
APP_URL=http://localhost:3000

# Admin security
# A secret code required to access the login page (e.g. /admin/login/my-secret-123)
VITE_ADMIN_ACCESS_SECRET=my-secret-access-code
